// --------------------------------------------------
//
//   BASE
//
// --------------------------------------------------





nav,
main,
section,
article,
aside,
header,
footer,
div,
details,
summary,
form,
fieldset,
textarea,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
nav:before,
main:before,
section:before,
article:before,
aside:before,
header:before,
footer:before,
div:before,
details:before,
summary:before,
form:before,
fieldset:before,
textarea:before,
input[type="text"]:before,
input[type="tel"]:before,
input[type="url"]:before,
input[type="email"]:before,
input[type="search"]:before,
input[type="number"]:before,
input[type="password"]:before,
nav:after,
main:after,
section:after,
article:after,
aside:after,
header:after,
footer:after,
div:after,
details:after,
summary:after,
form:after,
fieldset:after,
textarea:after,
input[type="text"]:after,
input[type="tel"]:after,
input[type="url"]:after,
input[type="email"]:after,
input[type="search"]:after,
input[type="number"]:after,
input[type="password"]:after,
.border-box,
.border-box:before,
.border-box:after
  box-sizing border-box

html
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  // -webkit-font-smoothing antialiased
  // -moz-osx-font-smoothing grayscale

body
  margin 0
  color text-color
  background-color body-bg

li
  display block

a
  text-decoration underline
  color link-color
  // transition color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out

img
  max-width 100%
  height auto
  display block
  border 0
