// --------------------------------------------------
//
//   SITE-WIDE SETTINGS
//
// --------------------------------------------------





// --------------------------------------------------
//   COLORS - (via http://clrs.cc - slightly modded)
// --------------------------------------------------
navy = #001F3F
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #D13F19
maroon = #85144B
fuchsia = #F012BE
purple = #B10DC9
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #222222

brand-gray-darker = #394246
brand-gray-dark = #5B666D
brand-gray = #84929A
brand-gray-light = #D0D8DF
brand-gray-lighter = #F2F5F9

// --------------------------------------------------
//   SCAFFOLDING
// --------------------------------------------------
body-bg = white
text-color = brand-gray-dark
link-color = blue
link-hover-color = darken(link-color, 15%)

// --------------------------------------------------
//   TYPOGRAPHY
// --------------------------------------------------
// Font stacks
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucida-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
code = Consolas, "Liberation Mono", Courier, monospace
verdana = Verdana, Geneva, sans-serif
open-sans = "Open Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif

// Base font
font-family-base      = open-sans
font-size-base        = 16px
font-weight-base      = 400
line-height-base      = 1.5
margin-bottom-base    = unit(font-size-base * line-height-base, px)

// Headings font
headings-font-family  = open-sans
headings-font-weight  = 800
headings-text-color   = brand-gray-dark
headings-margin-top   = 1em
headings-margin-bottom = .5em
h1-size               = 48px
h2-size               = 30px
h3-size               = 24px
h4-size               = 20px
h5-size               = 16px
h6-size               = 14px

// --------------------------------------------------
//   USER INTERFACE
// --------------------------------------------------
border-radius               = 5px
button-padding-y            = 10px
button-padding-x            = 15px
button-font-family          = font-family-base
button-font-size            = 14px
button-font-weight          = 700
button-line-height          = 1
button-border-width         = 1px
button-color                = brand-gray
button-color-hover          = white
button-background-color     = brand-gray-dark
input-placeholder-color     = brand-gray-light

z-index-1                   = 99
z-index-2                   = 999
z-index-3                   = 9999
z-index-4                   = 99999
z-index-5                   = 999999