// --------------------------------------------------
//
//   BUTTONS
//
// --------------------------------------------------





.btn
  padding 20px 25px
  display inline-block
  position relative
  font-size 24px
  font-weight 900
  font-family lato
  line-height 1
  white-space nowrap
  vertical-align middle
  color $brand-gray-light
  background $brand-gray
  border none
  border-radius 5px
  outline none
  user-select none
  -webkit-appearance none
  &,
  &:hover
    text-decoration none

.btn--primary
  color white
  background $brand-gray-dark

.btn--block
  width 100%
  display block
  text-align center
