// --------------------------------------------------
//
//   TYPOGRAPHY
//
// --------------------------------------------------





body
  font-family font-family-base
  font-weight font-weight-base
  font-size font-size-base
  line-height line-height-base

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-top headings-margin-top
  margin-bottom headings-margin-bottom
  font-family headings-font-family
  font-weight headings-font-weight
  line-height 1.25
  color headings-text-color

h1, .h1
  font-size h1-size

h2, .h2
  font-size h2-size

h3, .h3
  font-size h3-size

h4, .h4
  font-size h4-size

h5, .h5
  font-size h5-size

h6, .h6
  font-size h6-size

p
  margin-top 0
  margin-bottom margin-bottom-base

// Unordered and ordered lists
ul,
ol
  margin-top 0
  margin-bottom margin-bottom-base
  ul,
  ol
    margin-bottom 0

list-unstyled()
  padding-left 0
  list-style none

dl
  margin-top 0
  margin-bottom margin-bottom-base

dt,
dd
  line-height line-height-base

dt
  font-weight bold

dd
  margin-left 0 // Undo browser default

// --------------------------------------------------
//   REUSABLE TEXT CLASSES
// --------------------------------------------------
.t-body
  font-size 14px

.t-title
  font-weight 300

.t-title--1
  margin-top .5em
  font-size 48px

.t-title--2
  font-size 30px
  border-bottom 2px solid brand-gray-light

.t-title--3
  font-size 24px
  font-weight 700

.t-title--4
  font-size 20px

.t-title--5
  font-size 16px
  font-weight 400

.t-title--6
  font-size 14px
  font-weight 400

.t-ui-label
  font-size 11px
  font-family Open Sans
  text-transform uppercase
  color brand-gray

.t-ui-primary
  font-size 14px
  font-weight 700

.t-ui-label--1
  font-weight 700

.t-ui-label--2
  font-weight 400