/* Table of Contents
=====================================================
  BASE..................Reset, Settings, Helpers, and Default HTML elements
  COMPONENTS............Building blocks
  LAYOUTS...............Page-specific layout styles
  VENDOR................Bower, Vendor, or plugin-specific styles (that need to come last)
*/

// --------------------------------------------------
//   BASE
// --------------------------------------------------
@import 'jeet'
@import '_base/normalize'
@import '_base/settings'
@import '_base/base'

// --------------------------------------------------
//   COMPONENTS
// --------------------------------------------------
@import '_components/typography'
// @import '_components/buttons'
// @import '_components/forms'
// @import '_components/tables'

// --------------------------------------------------
//   LAYOUTS
// --------------------------------------------------
@import '_layouts/home'

// --------------------------------------------------
//   VENDOR
// --------------------------------------------------
// @import '_vendor/...'
