/* Table of Contents
=====================================================
  GLOBAL................Reset, Settings, Helpers, and Default HTML elements
  COMPONENTS............Building blocks
  STRUCTURES............Assembling the building blocks
  LAYOUTS...............Page-specific layout styles
  VENDOR................Bower, Vendor, or plugin-specific styles (that need to come last)
*/

// --------------------------------------------------
//   GLOBAL
// --------------------------------------------------
@import "global/normalize"
@import "global/settings"
@import "global/helpers"
@import "global/base"

// --------------------------------------------------
//   COMPONENTS
// --------------------------------------------------
@import "components/buttons"
@import "components/forms"
@import "components/icons"
@import "components/typography"

// --------------------------------------------------
//   STRUCTURES
// --------------------------------------------------
@import "structures/layout"
@import "structures/navigation"

// --------------------------------------------------
//   LAYOUTS
// --------------------------------------------------
@import "layouts/home"

// --------------------------------------------------
//   VENDOR
// --------------------------------------------------
